/* Source Sans serif pro font for the main pages */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@900&display=swap");

/* Background color : #Fcfcfcfc */
/* Logo color #f8d054 */
/* For dark mode  #f0f0f0 */

/* if we wanted to implemnt dark mode */
/* body{
  filter: invert(1) hue-rotate(180deg) !important;
} */

* {
  font-family: "Source Serif Pro", serif;
}
/* .logo{
  font-family: 'Noto Serif Malayalam', serif;
  font-weight: 900;
  display: flex;

} */
/* div.col-4 {
 position: fixed;
} */
.logo {
  width: 100px;
}

.wrapper,
footer,
.card,
ul,body {
  background-color: #fcfcfcfc !important;
  /* height: 100vh; */
}
a {
  text-decoration: none !important;
  color: black;
}
#keep-this{
  display: none !important;
}

/* Messages CSS, Can be removed */
        
nav{
  height: 200px;
}
main{
  width: 100%;
  display: flex;
 justify-content: space-around;
 margin-top: 20px;
}
.left{
  width:300px;
  border: 3px solid black;
  height: 500px;
  
  

}
.center{
  width:800px;
  border: 3px solid black;
  height: 500px;
  
  
  
}
.disply_messages{
  
  width: 600px;
  height: 300px;
  border: 1px solid;
  margin-top: 40px;
  margin-left: 80px;
  overflow: scroll;
}
.type-message{
  width: 600px;
  height: 100px;
 
  margin-top: 40px;
  margin-left: 80px;
}

.right{
  margin-top: 100px;
  width:250px;
  border: 3px solid black;
  height: 400px;
  overflow: scroll;
}
.myText{
  color: green;
  text-align: right;
  margin: 10px 5px;


}
.yourText{
  color: red;
  text-align: left;
  margin: 10px 5px;
}








@media screen and (max-width: 1024px){
  div.col-4 {
    display: none;
  }
#keep-this{
    display: block !important;
  }
  #hide-this{
    display: none;
  }
}
