<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap and Jquery files go here -->
    <link rel="shortcut icon" href="https://user-images.githubusercontent.com/77834808/233735401-a676e3d5-05cb-4f39-8a59-c39b918f55dc.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %} " type="image/x-icon">
  </head>
  <body>
    <!-- 21-04-2023 update, buttons fix  -->
    <!-- The main bav bar containing the Moods Logo -->
    <!-- Logo Design -->
    <div class=" w-100  ">
      <nav class="navbar navbar-expand-lg  h-100 ps-5 pe-5 " >
        <a class="navbar-brand logo " href="/dashboard">
          <img src="{% static 'assets/logo.svg' %}" alt="Moods Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"   >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <form class="d-flex" role="search" action="/search" method="get" id="search-form" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" autocomplete="off" >
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="wrapper ">
      <div class="container container-sm container-md container-lg  pt-4">
        <div class="row d-flex justify-content-between ">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
            <!-- logged user profile functionality -->
            <div class="card  p-3 mb-5  rounded " >
              <div class="card-body p-4">
                <div class="my-4 w-75 h-100 row text-center mx-auto">
                  {{avatar|safe}}
                 </div>
                <h4 class="text-start mb-3"> Welcome <a href="/user">{{newUser.first_name}} {{newUser.last_name}}</a> ! </h4>
                <p class="text-start mb-3"> Age: {{user_age}} years old </p>
                <p class="text-start mb-3"> time now: <em class="time_now"></em> <br>
                <span>Date Now: {{current_date}}</span> <br>
                  for the time zone <em>{{newUser.time_zone}}</em>
                </p>
                <p class="text-start mb-3 text-muted"> joined on {{newUser.created_at.date}} </p>
                <a class="btn btn-link " href="/edit_profile">edit profile</a>
              </div>
            </div>
          </div>
          <!-- Posting , commenting, showing the comment and posts -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
            <form action="/new_post" method="post" class="card shadow  mb-5 rounded postForm" >
              {%csrf_token%}
              <div class="card-body">
                <div class="form-floating ">
                  <textarea class="form-control" placeholder="What's on your mind today?" id="post" name="post" style="height: 100px"></textarea>
                  <label for="post">Post</label>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-primary my-2 me-2" type="submit">Post</button>
                  </div>
                </div>
                <div class="error-message-post">
                    
                </div>
              </div>
            </form>

            <div class="w-100">
              {% for post in all_posts %}
              <div class="card shadow mb-5 rounded">
                <div class="card-body p-5">
                  <small class="text-body-secondary my-2"> last updated {{post.updated_at.time}}</small>
                  <div class="row d-flex align-items-start justify-content-start">
                    <div class="my-1 img-fluid col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 w-25 h-25 me-3 ms-2" style="width: 5.5rem !important;">
                      {{post.user_who_post.avatar|safe}}
                    </div>
                    <div class="col-9 col-sm-5 col-lg-8 col-xl-9">
                      <p class="card-title my-2"><a href="/user/{{post.user_who_post.id}}">{{post.user_who_post.first_name}} {{post.user_who_post.last_name}}</a></p>
                      <p class="card-text text-wrap my-2">{{post.post_content}}</p>
                      {%if newUser == post.user_who_post%}
                      <p>
                        <a href="/delete/{{post.id}}">Delete Post</a>
                      </p>
                      {% endif %}
                      <div class="text-end my-3">
                        
                        <button class="btn btn-light">
                          <i class="bi bi-hand-thumbs-up"></i>
                          <a class="likes_on_post " id="like_btn_{{post.id}}" href="/likeOnPost/{{post.id}}">  {{post.likes_count}} Like(s)</a> 
                        </button>

                      </div>
                    </div>
                  </div>
                  <form action="/add-new-comment" method="post" class="card shadow-sm   rounded w-90 commentForm ">
                    {%csrf_token%}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <div class="card-body">
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Comment on this post!" id="comment" name="comment" style="height: 100px"></textarea>
                        <label for="post">Comment</label>
                        <div class="d-flex justify-content-end">
                          <button class="btn btn-primary my-3 me-1" type="submit">Comment</button>
                        </div>
                      </div>
                      <div class="error-message-comment">
                    
                      </div>
                      <!-- {static 'assets/img'} -->
                    </div>
                  </form>
                  <div>
                    <!-- Start of comments -->
                    <div class="text-start ps-3">
                      {% for comment in post.all_comments %}
                        {% if comment.post == post %}
                          <div class="card-body border-bottom">
                            <small class="text-body-secondary my-2">last updated: {{comment.updated_at.time}}</small>
                            <div class="row">

                                <div class="my-1 img-fluid col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 w-25 h-25 me-3 ms-2" style="width: 5.5rem !important;">
                                  {{comment.user_who_comment.avatar|safe}}
      

                              </div>
                              <div class="col-9 col-sm-5 col-lg-8 col-xl-9">
                                <p class="card-title my-2" ><a href="/user/{{comment.user_who_comment.id}}">{{comment.user_who_comment.first_name}} {{ comment.user_who_comment.last_name}}</a></p> 
                                <p class="card-text text-wrap my-2"> {{comment.comment_content}} </p>
                                {%if newUser == comment.user_who_comment%}
                                <p>
                                  <a href="/delete/comment/{{comment.id}}"> delete Comment</a>
                                </p>
                                {% endif %}
                                <div class="text-end my-3">
                                  
                                  <button class="btn btn-light">
                                    
                                    <i class="bi bi-hand-thumbs-up"></i>
                                    <a href="/add_likes_comment/{{comment.id}}" class="likes_on_comment" id="like_btn_{{comment.id}}">   
                                    {{comment.likes_count}} Like(s)  
                                  </a> 
                                  </button>
                              
                                </div>
                              </div>
                              </div>


                            </div>




                        {% endif %}
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
              <!-- end of posts here -->
              {% endfor %}  
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small ">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright: <a href="/"> Moods</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- We need to add ajax asap -->
    <script>
      function updateTime() {

        var userTimezone = "{{ newUser.time_zone }}";

        // getting the user time despite him/her being logged in or not
        var currentDate = new Date();
        var userDateTime = currentDate.toLocaleString("en-US", { timeZone: userTimezone });
        const timeString = userDateTime.split(", ")[1];
        document.querySelector('.time_now').textContent=timeString
      }

      setInterval(updateTime, 1000);

      // Ajax functionality
      // adding posts 
      $('.postForm').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/new_post',
            method: 'post',
            data: $(this).serialize(),
            success: function(response){
                if (response.success) {
                  location.reload(); //instead of reload get the post contant as variables and implement in them new 'refreshed' statmets 
                  console.log(response)
                } else {
                    var errors = response.errors;
                    var errorList = '<ul class="list-unstyled">';
                    for (var i=0; i<errors.length; i++) {
                        errorList += '<li class="text-danger">' + errors[i] + '</li>';
                    }
                    errorList += '</ul>';
                    $('.error-message-post').html(errorList);
                    console.log('adding post failed:', errors);
                }
            }
        });
      return false;
    });
            // adding comments 
          $('.commentForm').submit(function(e){
          e.preventDefault();
          var form = $(this); // Save the form element for later use
          $.ajax({
              url: '/add-new-comment',
              method: 'post',
              data: form.serialize(),
              success: function(response){
                  if (response.success) {
                      location.reload();
                      console.log(response.success);
                      alert(data);
                  } else {
                      var errors = response.errors;
                      var errorList = '<ul class="list-unstyled">';
                      for (var i=0; i<errors.length; i++) {
                          errorList += '<li class="text-danger">' + errors[i] + '</li>';
                      }
                      errorList += '</ul>';
                      form.find('.error-message-comment').html(errorList); // Update error message in the form itself
                      console.log('adding post failed:', errors);
                  }
              }
          });
          return false;
      });

        // keep it like this for now , repetitive wise 
            // adding likes on posts and comment  likes_on_post, what i need to do is update the likes on the post id 
        $(document).ready(function() {
            $('.likes_on_post').click(function(e) {
              e.preventDefault();
              var post_id = $(this).attr('href').split('/').pop(); //get the post id from the href id 
              var like_btn = $(this); //the id itself 
              $.ajax({
                url: '/likeOnPost/' + post_id,
                method: 'GET', //get method ,not post 
                success: function(data) { //update the number of likes in real time 
                  like_btn.text(data.likes_count + ' Like(s)');
                },
                error: function(xhr, status, error) {
                  console.error(xhr.responseText);
                }
              });
            });
          });
          //adding likes to comments
          $(document).ready(function() {
            $('.likes_on_comment').click(function(e) {
              e.preventDefault();
              var comment_id = $(this).attr('href').split('/').pop(); //get the post id from the href id 
              var like_btn = $(this); //the id itself 
              $.ajax({
                url: '/add_likes_comment/' + comment_id,
                method: 'GET', //get method ,not post 
                success: function(data) { //update the number of likes in real time 
                  like_btn.text(data.likes_count + ' Like(s)');
                },
                error: function(xhr, status, error) {
                  console.error(xhr.responseText);
                }
              });
            });
          });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>