<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap and Jquery files go here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/frame1.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %} " type="image/x-icon">
  </head>
  <body>
    <!-- The main bav bar containing the Moods Logo -->
    <!-- Logo Design -->
    <div class=" w-100  ">
      <nav class="navbar navbar-expand-lg bg-body-tertiary h-100 ps-5 pe-5 ">
        <a class="navbar-brand logo " href="/dashboard">
          <img src="{% static 'assets/logo.svg' %}" alt="Moods Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="wrapper ">
      <div class="container container-sm container-md container-lg  pt-4">
        <div class="row d-flex justify-content-between ">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
            <!-- logged user profile functionality -->
            <div class="card shadow p-3 mb-5  rounded">
              <div class="card-body p-4">
                <h4 class="text-start mb-3"> Welcome <a href="/user">{{newUser.first_name}} {{newUser.last_name}}</a> ! </h4>
                <p class="text-start mb-3"> Age: {{user_age}} years old </p>
                <p class="text-start mb-3"> time now: <em class="time_now"></em> <br>
                <span>Date Now: {{current_date}}</span> <br>
                </em> for the time zone <em>{{newUser.time_zone}}</em>
                </p>
                <p class="text-start mb-3 text-muted"> joined on {{newUser.created_at.date}} </p>
                <a class="btn btn-link " href="/edit_profile">edit profile</a>
              </div>
            </div>
          </div>
          <!-- Posting , commenting, showing the comment and posts -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
            <form action="/new_post" method="post" class="card shadow  mb-5 rounded">
              {%csrf_token%}
              <div class="card-body">
                <div class="form-floating ">
                  <textarea class="form-control" placeholder="What's on your mind today?" id="post" name="post" style="height: 100px"></textarea>
                  <label for="post">Post</label>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-primary my-2 me-2" type="submit">Post</button>
                  </div>
                </div>
              </div>
            </form>

            <div class="w-100">
              {% for post in all_posts %}
              <div class="card shadow mb-5 rounded">
                <div class="card-body p-5">
                  <small class="text-body-secondary my-2"> last updated {{post.updated_at.time}}</small>
                  <p class="card-title my-2"  > <a href="/user/{{post.user_who_post.id}}" > {{post.user_who_post.first_name}} {{post.user_who_post.last_name}}</a> </p>
                  <p class="card-text text-wrap my-2"> {{post.post_content}} </p>
                  {%if newUser == post.user_who_post%}
                  <p>
                    <a href="/delete/{{post.id}}"> delete Post</a>
                  </p>
                  {% endif %}
                  <div class="text-end my-3">
                    <button class="btn btn-light"><i class="bi bi-hand-thumbs-up"></i>  <a href="/add_likes_to_posts">312 Like(s)</a> </button>
                  </div>
                  <form action="/add-new-comment" method="post" class="card shadow-sm   rounded w-90 ">
                    {%csrf_token%}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <div class="card-body">
                      <div class="form-floating ">
                        <textarea class="form-control" placeholder="Comment on this post!" id="comment" name="comment" style="height: 100px"></textarea>
                        <label for="post">Comment</label>
                        <div class="d-flex justify-content-end">
                          <button class="btn btn-primary my-3 me-1" type="submit">Comment</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div>
                    <!-- Start of comments -->
                    <div class="text-start ps-3">
                      {% for comment in post.all_comments %}
                        {% if comment.post == post %}
                          <div class="card-body border-bottom">
                            <small class="text-body-secondary my-2">last updated: {{comment.updated_at.time}}</small>
                            <p class="card-title my-2"> {{comment.user_who_comment.first_name}} {{ comment.user_who_comment.last_name}}</p> 
                            <p class="card-text text-wrap my-2"> {{comment.comment_content}} </p>
                            {%if newUser == comment.user_who_comment%}
                            <p>
                              <a href="/delete/comment/{{comment.id}}"> delete Comment</a>
                            </p>
                            {% endif %}
                            <div class="text-end my-3">
                              <button class="btn btn-light"><i class="bi bi-hand-thumbs-up"></i> <a href="/add_likes_to_comments">5 Like(s)</a> </button>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
              <!-- end of posts here -->
              {% endfor %}  
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small ">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright: <a href="/"> Moods</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- We need to add ajax asap -->
    <script>
      function updateTime() {
        // function to get the logged user time
        // const now = new Date();
        // const timeNow = now.toLocaleTimeString();
        // document.querySelector('.time_now').textContent = timeNow;
        var userTimezone = "{{ newUser.time_zone }}";

        // getting the user time despite him/her being logged in or not
        var currentDate = new Date();
        var userDateTime = currentDate.toLocaleString("en-US", { timeZone: userTimezone });
        const timeString = userDateTime.split(", ")[1];
        document.querySelector('.time_now').textContent=timeString
        // console.log(timeString); 
     
      }

      setInterval(updateTime, 1000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  
  </body>
</html>