<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/frame1.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %} " type="image/x-icon">
  </head>
  <body>
    <div class=" w-100  ">
      <nav class="navbar navbar-expand-lg  h-100 ps-5 pe-5 ">
        <a class="navbar-brand logo " href="/dashboard">
          <img src="{% static 'assets/logo.svg' %}" alt="Moods Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <form class="d-flex" role="search" action="/search" method="get" id="search-form">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- <div class="left"> -->
    <div class="container container-sm container-md container-lg  pt-4">
      <div class="row d-flex justify-content-center  mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mx-auto">
          <div class="card shadow p-3 mb-5  rounded">
            <div class="card-body p-4">
              <h4 class="text-start mb-3"> <a href="/user/{{other.id}}">{{other.first_name}} {{other.last_name}}</a> ! </h4>
              <p class="text-start mb-3"> Age: {{user_age}} years old </p>
              <p class="text-start mb-3"> time now: <em class="time_now"></em>

                <br>
                <span>Date Now: {{current_date}}</span>
                <br> for the time zone <em>{{newUser.time_zone}}</em>
              </p>
              <p>{{msg |safe}}</p>
              <p class="text-start mb-3 text-muted"> joined on {{newUser.created_at.date}} </p>
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" id="keepMe2">
                Messages and other users
              </button>
              
              <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title mt-3" id="staticBackdropLabel">Messages and other users</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="card p-3">
                    <div class="card-body" style=" overflow-y: scroll;   max-height: 300px; ">
                    <ul class="list-unstyled">
                      <h5>Latest messages</h5>
                  {%for user in all_users_for_last_messages%}
                      <li >
                        <a href="/changOtherId/{{user.id}}">{{user.first_name}}  {{user.last_name}}</a>
                      <p>{{user.message_receiver.message_content}}</p>
                        <p class="text-muted"> sent on {{message.created_at}} </p>
                      </li>
                  {%endfor%}
                    </ul>
                </div>
                </div>
        
        
                <div class="card p-3 mt-5">
                  <div class="card-body" style=" overflow-y: scroll;   max-height: 300px; ">
                  <ul class="list-unstyled mt-2">
                    <h6>Message other Users</h6>
                {%for user in all_users%}
                    {% if user not in all_users_for_last_messages%}
                        {% if user.id != theUser.id %}
                            <li ><a href="/changOtherId/{{user.id}}">{{user.first_name}}  {{user.last_name}}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {%endfor%}
                  </ul>
              </div>
              </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 mx-auto">
          <div class="card shadow mb-1 rounded p-5" style=" overflow-y: scroll;   max-height: 25rem; " id="myDiv">
            <div class="card-body border"> 
              {%for message in allSR%} 
              {%if message.message_sender.id == request.session.id %} 
              <div class="d-flex justify-content-end mt-2">
                <div class="card p-1 h-25">
                  <div class="card-body">
                    <p> You <span class="text-muted"> at {{message.created_at.time}}</span>
                    </p>
                    <p class="text-primary">{{message.message_content}}</p>
                  </div>
                </div>
              </div> 
              {%else%} 
              <div class="d-flex justify-content-start mt-2">
                <div class="card p-1 h-25  " >
                  <div class="card-body  ">
                    <p> {{message.message_sender.first_name}} {{message.message_sender.last_name}}
                      <span class="text-muted"> at {{message.created_at.time}}</span>
                    </p>
                    <p class="text-success-emphasis">{{message.message_content}}</p>
                  </div>
                </div>
              </div>
               {%endif%} 
              {%endfor%}
            </div>
          </div>
          <form action="/creatMessages/{{other.id}}" method="post" class="card"> 
            {%csrf_token%} 
            <div class="card-body">
              <div class="form-floating ">
                <textarea class="form-control" placeholder="Send a maessage " id="message_content" name="message_content" style="height: 100px"></textarea>
                <label for="message_content">Message</label>
                <div class="d-flex justify-content-end mt-1">
                  <button class="btn btn-primary my-2 me-2" type="submit">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 mx-auto" id="hideMe2">
          <div class="card p-3">
            <div class="card-body" style=" overflow-y: scroll;   max-height: 300px; ">
            <ul class="list-unstyled">
              <h5>Latest messages</h5>
          {%for user in all_users_for_last_messages%}
              <li class="">
                <a href="/changOtherId/{{user.id}}">{{user.first_name}}  {{user.last_name}}</a>

              </li>
          {%endfor%}
            </ul>
        </div>
        </div>
        <div class="card p-3 mt-5">
          <div class="card-body" style=" overflow-y: scroll;   max-height: 300px; ">
          <ul class="list-unstyled mt-2">
            <h6>Message other Users</h6>
        {%for user in all_users%}
            {% if user not in all_users_for_last_messages%}
                {% if user.id != theUser.id %}
                    <li><a href="/changOtherId/{{user.id}}">{{user.first_name}}  {{user.last_name}}</a>
                    </li>
                {% endif %}
            {% endif %}
        {%endfor%}
          </ul>
      </div>
      </div>
          </div>

      </div>
    </div>
    <script>
      const myDiv = document.getElementById("myDiv");
      myDiv.scrollTop = myDiv.scrollHeight;
      const pendingBtn=document.getElementById('pending');
      const addFriendBtn=document.getElementById('addfriend');
        function updateTime() {
          // function to get the logged user time
          // const now = new Date();
          // const timeNow = now.toLocaleTimeString();
          // document.querySelector('.time_now').textContent = timeNow;
          var userTimezone = "{{ other.time_zone }}";
          // getting the user time despite him/her being logged in or not
          var currentDate = new Date();
          var userDateTime = currentDate.toLocaleString("en-US", {
            timeZone: userTimezone
          });
          const timeString = userDateTime.split(", ")[1];
          document.querySelector('.time_now').textContent = timeString
          // console.log(timeString); 
        }
        setInterval(updateTime, 1000);
        // function pending_request(){
        //   addFriendBtn.style.display="none"; 
        //   pendingBtn.style.display="block";
        // }      

      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  </body>
</html>