<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap and Jquery files go here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/frame1.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %} " type="image/x-icon">
  </head>
  <body>
    <!-- The main bav bar containing the Moods Logo -->
    <!-- Logo Design -->
    <div class=" w-100  ">
      <nav class="navbar navbar-expand-lg bg-body-tertiary h-100 ps-5 pe-5 ">
        <a class="navbar-brand logo " href="/dashboard">
          <img src="{% static 'assets/logo.svg' %}" alt="Moods Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="wrapper ">
      <div class="container container-sm container-md container-lg  pt-4">
        <div class="row d-flex justify-content-center  mx-auto">
          <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 mx-auto">
            <!-- logged user profile functionality -->
            <div class="card shadow p-3 mb-5  rounded">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <h4 class="text-start mb-3">
                    <a href="/user/{{user.id}}">
                      {{user.first_name}} {{user.last_name}}
                    </a>
                  </h4>
                  <span class="text-start mb-3 text-muted small"> joined on {{user.created_at.date}}
                  </span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-start mb-3"> Age: {{user_age}} years old </p>
                  <p class="text start mb-3">
                    <i class="bi bi-balloon ps-1"></i>
                    {{user.birthday}}
                  </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <span>
                    <i class="bi bi-calendar4-event ps-1"></i> Date Now: {{current_date}}
                  </span>
                  <br>
                  <p class="text-start mb-3">
                    <i class="bi bi-hourglass-split ps-1"></i> time now: <em class="time_now"></em>
                    <br>
                </div>
                </em>
                <p class="text-center">
                  <i class="bi bi-geo ps-1"></i> for the time zone <em>{{user.time_zone}}</em>
                  <br>
                </p>
                {{msg |safe}}
                </p>




                {% if has_a_request %}
                {% if incoming_request.request_sender_id == user.id %}
                  <div class="text-end">
                    <a href="/delete-request/{{incoming_request.id}}" class="btn btn-outline-danger">Ignore</a>
                    <a href="/accept-request/{{incoming_request.id}}" class="btn btn-outline-success">Accept</a>
                  </div>
                {% else %}
                  <div class="text-end">
                    <button class="btn btn-outline-success" disabled data-bs-toggle="button">Pending</button>
                  </div>
                {% endif %}
              {% elif is_friend %}
                <div class="text-end">
                  <a href="/remove-friend/{{user.id}}" class="btn btn-outline-success">Friends</a>
                </div>
              {% else %}
                <div class="text-end">
                  {% if outgoing_request %}
                    <button class="btn btn-outline-success" disabled data-bs-toggle="button">Request Sent</button>
                  {% else %}
                    <a href="/send-request/{{user.id}}" class="btn btn-outline-success" id="addfriend">Add Friend</a>
                  {% endif %}
                </div>
              {% endif %}
              
              
              
              
              
              
              
              
            
              
              

                
              </div>
            </div>
          </div>

        </div>
        <div class="row d-flex justify-content-between ">
          <!-- Posting , commenting, showing the comment and posts -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto  ">
            <form action="/new_post" method="post" class="card shadow  mb-5 rounded">
              {%csrf_token%} 
              <div class="card-body">
                <div class="form-floating ">
                  <textarea class="form-control" placeholder="What's on your mind today?" id="post" name="post" style="height: 100px"></textarea>
                  <label for="post">Post</label>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-primary my-2 me-2" type="submit">Post</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="w-100">
              <div class="card shadow mb-5 rounded">
                <div class="card-body p-5">
                  <small class="text-body-secondary my-2"> last updated 20 min ago</small>
                  <p class="card-title my-2">
                    <a href="/user">{{newUser.first_name}} {{newUser.last_name}} </a>
                  </p>
                  <p class="card-text text-wrap my-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium soluta quidem sed possimus ullam? Nemo dignissimos quam iure porro iste, cum facere dolor illo neque maxime officiis explicabo quod? </p>
                  <div class="text-end my-3">
                    <button class="btn btn-light">
                      <i class="bi bi-hand-thumbs-up"></i>
                      <a href="/add_likes_to_posts">312 Like(s)</a>
                    </button>
                  </div>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small ">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright: <a href="/"> Moods</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- We need to add ajax asap -->
    <script>
    const pendingBtn=document.getElementById('pending');
    const addFriendBtn=document.getElementById('addfriend');
      function updateTime() {
        // function to get the logged user time
        // const now = new Date();
        // const timeNow = now.toLocaleTimeString();
        // document.querySelector('.time_now').textContent = timeNow;
        var userTimezone = "{{ user.time_zone }}";
        // getting the user time despite him/her being logged in or not
        var currentDate = new Date();
        var userDateTime = currentDate.toLocaleString("en-US", {
          timeZone: userTimezone
        });
        const timeString = userDateTime.split(", ")[1];
        document.querySelector('.time_now').textContent = timeString
        // console.log(timeString); 
      }
      setInterval(updateTime, 1000);
      // function pending_request(){
      //   addFriendBtn.style.display="none"; 
      //   pendingBtn.style.display="block";
      // }      



    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>