<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile {{newUser.id}}</title>
    <!-- Bootstrap and Jquery files go here -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/frame1.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %} " type="image/x-icon">
  </head>
  <body>
    <!-- The main bav bar containing the Moods Logo -->
    <!-- Logo Design -->
    <div class=" w-100  ">
      <nav class="navbar navbar-expand-lg bg-body-tertiary h-100 ps-5 pe-5 ">
        <a class="navbar-brand logo " href="/dashboard">
          <img src="{% static 'assets/logo.svg' %}" alt="Moods Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <form class="d-flex" role="search" action="/search" method="get" id="search-form">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="wrapper ">
      <div class="container container-sm container-md container-lg  pt-4">
        <div class="row d-flex justify-content-center  mx-auto">
          <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 mx-auto">
            <!-- logged user profile functionality -->
            <div class="card shadow p-3 mb-5  rounded">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <h4 class="text-start mb-3">
                    <a href="/user">
                      {{newUser.first_name}} {{newUser.last_name}}
                    </a>
                  </h4>
                  <span class="text-start mb-3 text-muted small"> joined on {{newUser.created_at.date}}
                  </span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-start mb-3"> Age: {{user_age}} years old </p>
                  <p class="text start mb-3">
                    <i class="bi bi-balloon ps-1"></i>
                    {{newUser.birthday}}
                  </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <span>
                    <i class="bi bi-calendar4-event ps-1"></i> Date Now: {{current_date}}
                  </span>
                  <br>
                  <p class="text-start mb-3">
                    <i class="bi bi-hourglass-split ps-1"></i> time now: <em class="time_now"></em>
                    <br>
                </div>
                </em>
                <p class="text-center">
                  <i class="bi bi-geo ps-1"></i> for the time zone <em>{{newUser.time_zone}}</em>
                  <br>
                </p>
                </p>
                <a class="btn btn-link " href="/edit_profile">Edit profile</a>
              </div>
              <!--Off canvas -->
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" id="keep-this"> Friendships & Requests </button>
              <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="staticBackdropLabel">Friendships & Requests </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    <div class="card border-light mb-3  mx-auto shadow  mb-5 rounded" style="max-width: 35rem;">
                      <div class="card-header"> Requests <span class="badge text-bg-secondary">{{friend_request_count}}</span>
                      </div>
                      <div class="text-start">
                        <!-- Start -->
                        {% for request in all_requests %}
                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center">
                            <h6 class="card-title">
                              <a href="/user/{{request.request_sender.id}}">{{request.request_sender.first_name}}  {{request.request_sender.last_name}} </a>
                            </h6>
                            <p class="card-text">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                              <div class="text-end">
                                <a href="/delete-request/{{request.id}}" class="btn btn-outline-danger">Ignore</a>
                                <a href="/accept-request/{{request.id}}" class="btn btn-outline-success">Accept</a>
                              </div>            
                              </button>
                            </div>
                            </p>
                          </div>
                        </div>
                        <hr>
                        {% endfor %}
        
                        <!-- End -->
                      </div>
                    </div>
                    <div class="card border-light mb-4 mx-auto shadow  mb-5 rounded" style="max-width: 35rem;">
                      <div class="card-header"> Friendships <span class="badge text-bg-secondary">{{friends_count}}</span>
                      </div>
                      {% for friendship in newUser.friends.all %}
                        {% for friend in friendship.users.all %}
                        {% if friend.id != newUser.id %}
                          <div class="card-body">
                            <h6 class="card-title">
                              <a href="/user/{{friend.id}}">{{friend.first_name}} {{friend.last_name}}</a>
                            </h6>
                          </div>
                          <hr>
                          {% endif %}
                      {% endfor %}
                    {% endfor %}
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Requests and list of friends  -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto" id="hide-this">
            <div class="card border-light mb-3  mx-auto shadow  mb-5 rounded" style="max-width: 35rem;">
              <div class="card-header"> Requests <span class="badge text-bg-secondary">{{friend_request_count}}</span>
              </div>
              <div class="text-start">
                <!-- Start -->
                {% for request in all_requests %}
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="card-title">
                      <a href="/user/{{request.request_sender.id}}">{{request.request_sender.first_name}}  {{request.request_sender.last_name}} </a>
                    </h6>
                    <p class="card-text">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <div class="text-end">
                        <a href="/delete-request/{{request.id}}" class="btn btn-outline-danger">Ignore</a>
                        <a href="/accept-request/{{request.id}}" class="btn btn-outline-success">Accept</a>
                      </div>            
                      </button>
                    </div>
                    </p>
                  </div>
                </div>
                <hr>
                {% endfor %}

                <!-- End -->
              </div>
            </div>
            <div class="card border-light mb-4 mx-auto shadow  mb-5 rounded" style="max-width: 35rem;">
              <div class="card-header"> Friendships <span class="badge text-bg-secondary">{{friends_count}}</span>
              </div>
              {% for friendship in newUser.friends.all %}
                {% for friend in friendship.users.all %}
                {% if friend.id != newUser.id %}
                  <div class="card-body">
                    <h6 class="card-title">
                      <a href="/user/{{friend.id}}">{{friend.first_name}} {{friend.last_name}}</a>
                    </h6>
                  </div>
                  <hr>
                  {% endif %}
              {% endfor %}
            {% endfor %}
            
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between ">
          <!-- Posting , commenting, showing the comment and posts -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto  ">
            <form action="/new_post" method="post" class="card shadow  mb-5 rounded postForm" >
              {%csrf_token%}
              <div class="card-body">
                <div class="form-floating ">
                  <textarea class="form-control" placeholder="What's on your mind today?" id="post" name="post" style="height: 100px"></textarea>
                  <label for="post">Post</label>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-primary my-2 me-2" type="submit">Post</button>
                  </div>
                </div>
                <div id="error-message-post">
                    
                </div>
              </div>
            </form>
            <div class="w-100">
              {% for post in all_posts %}
              <div class="card shadow mb-5 rounded">
                <div class="card-body p-5">
                  <small class="text-body-secondary my-2"> last updated {{post.updated_at.time}}</small>
                  <p class="card-title my-2"  > <a href="/user/{{post.user_who_post.id}}" > {{post.user_who_post.first_name}} {{post.user_who_post.last_name}}</a> </p>
                  <p class="card-text text-wrap my-2"> {{post.post_content}} </p>
                  {%if newUser == post.user_who_post%}
                  <p>
                    <a href="/delete/{{post.id}}"> delete Post</a>
                  </p>
                  {% endif %}
                  <div class="text-end my-3">
                    <button class="btn btn-light">
                          <i class="bi bi-hand-thumbs-up"></i>
                      <a class="likes_on_post" id="like_btn_{{post.id}}" href="/likeOnPost/{{post.id}}">{{post.likes_count}} Like(s)</a> </button>
                  </div>

                </div>
              </div>
              <!-- end of posts here -->
              {% endfor %}  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small ">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright: <a href="/"> Moods</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- We need to add ajax asap -->
    <script>
      function updateTime() {
        // function to get the logged user time
        // const now = new Date();
        // const timeNow = now.toLocaleTimeString();
        // document.querySelector('.time_now').textContent = timeNow;
        var userTimezone = "{{ newUser.time_zone }}";
        // getting the user time despite him/her being logged in or not
        var currentDate = new Date();
        var userDateTime = currentDate.toLocaleString("en-US", {
          timeZone: userTimezone
        });
        const timeString = userDateTime.split(", ")[1];
        document.querySelector('.time_now').textContent = timeString
        // console.log(timeString); 
      }
      setInterval(updateTime, 1000);
      // form for post submission, likes 
      $('.postForm').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/new_post',
            method: 'post',
            data: $(this).serialize(),
            success: function(response){
                if (response.success) {
                  location.reload(); //instead of reload get the post contant as variables and implement in them new 'refreshed' statmets 
                  console.log(response)
                } else {
                    var errors = response.errors;
                    var errorList = '<ul class="list-unstyled">';
                    for (var i=0; i<errors.length; i++) {
                        errorList += '<li class="text-danger">' + errors[i] + '</li>';
                    }
                    errorList += '</ul>';
                    $('#error-message-post').html(errorList);
                    console.log('adding post failed:', errors);
                }
            }
        });
      return false;
    });

    // Likes 
    $(document).ready(function() {
            $('.likes_on_post').click(function(e) {
              e.preventDefault();
              var post_id = $(this).attr('href').split('/').pop(); //get the post id from the href id 
              var like_btn = $(this); //the id itself 
              $.ajax({
                url: '/likeOnPost/' + post_id,
                method: 'GET', //get method ,not post 
                success: function(data) { //update the number of likes in real time 
                  like_btn.text(data.likes_count + ' Like(s)');
                },
                error: function(xhr, status, error) {
                  console.error(xhr.responseText);
                }
              });
            });
          });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>